.navcomp{
    display: flex;
    margin-top: 70px;
}
.img{
    width: 100px;
    height: 100px;
}
.text{
    text-align: center;
    color:rgb(56, 44, 28);
}
.comp{
    margin-left: 50px;
}
.banner{
    width: 100%;
    height: 320px;
    margin: 10px;
}
.product{
    height: 140px;
}
.slide{
    margin-top: 5px;
}
.container{
    display: flex;
}
.deal{
    color: tomato;
    padding-left: 10px;
    padding-right: 10px;
}
.counter{
    margin-left: 10px;
}

.timer{
    height:40px;
    width: 40px;
    padding-left: 10px;
}